
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 414px) {
/*
 .mv{
	background:red;
}
*/
	
body {
	min-width: 414px;
}

.inner{
	width: 372px;
}
	
.header{
    padding: 40px 0px;
}	

.mvcontent {
    padding-top: 76px;
}
	
.mvcontent h1 {
    font-size: 30px;
    padding-bottom: 8px;
    line-height: 27pt;
    letter-spacing: 1px;
}

.mvcontent p{
    font-size: 16px;
    line-height: 21pt;	
    letter-spacing: 1px;
}

.mvcontent a {
    margin-top: 77px;
} 
.mv {
    height: 750px;
}

.fitur {
    padding: 99px 0px;
    height: 1724px;
}
.fiturbox {
    width: 372px;
    height: 254px;
}
	.fiturbox h3 {
    padding-top: 28px;
    padding-bottom: 10px;
}
	
.fiturbox p {
    line-height: 22px;
    letter-spacing: 1px;
}
.sponly{
	display: inline-block;
}

.pconly{
	display: none;
}
	.gallery {
    height: 349px;
    width: 100% !important;
	}
	.gallery2 {
	margin-top:1px;
	}
	
	.profil {
    padding: 41px 0;
}
.pleft {
    margin-left: 50px;
    margin-right: 50px;
    padding: 55px 0;
}
	.pright {
    margin-right: 50px;
    margin-left: 50px;
    padding: 0px 0;
}
	.profil {
    padding: 45px 0;
    text-align: center;
}
	.profilbox h4 {
    margin-top: 17px;
    margin-bottom: 6px;
	}
	.red {
    margin-bottom: 20px;
	}
	.paragraf {
    margin-bottom: 30px;
    line-height: 22px;
	}
	
	.facebook{
		margin-right: 9px;
	}
	
	.twitter{
		margin-right: 8px;
	}
	
	.pb0{
		padding-bottom: 0;
	}
	.mySlides img {
    height: 208px;
}
	.quote {
    padding: 20px;
    height: 288px;
}
	.quote p {
    font-size: 26px;
    line-height: 35px;
    height: 133px;
}
	.dot-container {
    margin-top: 53px;
}
	.dot {
    margin: 0 3px;
	}
	.slideshow-container {
    margin-top: 111px;
}
	.download {
    height: 380px;
    padding: 96px 0;
}
	.button{
		margin-top: 43px;
    letter-spacing: 2px;
}
	.footer {
    height: 443px;
    padding: 58px 0 0px;
}
.footerbox {
    margin-bottom: 49px;
}
	.footerbox h4 {
    margin-bottom: 21px;
}
	
.sharewl {
    margin-bottom: 44px;
}
	
.share {
    margin-bottom: -9px;
}
	
.sosmed {
    margin-top: 0px;
}
	
	.footerbottom {
    padding: 21px;
}
	.navmodal {
		width: 50%;
		height: 285px;
	}
}