@charset "utf-8";
/* CSS Document */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html {
  scroll-behavior: smooth;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: 'Raleway', sans-serif;
	box-sizing: border-box;
    line-height: 1.2;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
/*	min-width: 1900px;*/
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.mv{
	background-image: url("../images/Layer 34.png");
	height: auto;
	width: 100%;
	overflow: hidden;
}

.inner{
	width: 63.93%;
	margin: 0 auto;
}

.header{
	height: 101px;
	padding: 38px 0px;
	border-bottom: 1px solid #4f5168;
}

.header img{
	float: left;
}

.navsp{
	display: none;
}

.nav ul {
    float: right;
    width: 600px;
    padding-top: 5px;
}

.nav ul li{
	float: left;
}

.nav ul li a{
	float: left;
    font-size: 13px;
    color: #ffffff;
    margin-right: 60px;
    text-transform: uppercase;
    text-decoration: none;
}

.first{	
    margin-left: 9px;
}

.last{
    margin-right: -1px !important;
}

.nav ul li a:hover{
	color: #dfdfdf;
}

.mvcontent{
	color: #ffffff;
	text-align: center;
    padding-top: 140px;
	font-family: "Open Sans", sans-serif;
}

.mvcontent h1{
	font-size: 65px;
	text-transform: uppercase;
    font-weight: 700;
	font-family: "Open Sans", sans-serif;
    padding-bottom: 22px;
    line-height: 55pt;
    letter-spacing: -1pt;
}

.mvcontent p{
	font-size: 22px;
	font-weight: lighter;
    line-height: 24pt;
}

.mvcontent a{
    width: 200px;
    height: 46px;
    text-decoration: none;
    color: white;
    font-size: 13px;
    text-transform: uppercase;
    background-color: #e84545;
    display: inline-block;
    text-align: center;
    padding: 16px;
    margin-top: 75px;
    border-radius: 2px;
	margin-bottom: 13.5%;
}

.mvcontent a:hover{
    background-color: red;
}


.button{
    width: 280px;
    height: 46px;
    text-decoration: none;
    color: white;
    font-size: 13px;
    text-transform: uppercase;
    background-color: #e84545;
    display: inline-block;
    text-align: center;
    padding: 16px;
    margin-top: 39px;
    border-radius: 2px;
}

.button:hover{
    background-color: red;
}

.fitur{
	height: auto;
	background-color: white;
	padding: 6.25%;
	overflow: hidden;
}

.fiturbox{
	width:33.33%;
	float: left;
	text-align: center;
	height: auto;
}

.fiturbox h3{
	font-size: 14px;
	font-weight: bold;	
    padding-top: 29px;
    padding-bottom: 19px;
    text-transform: uppercase;
}

.fiturbox p{
	font-size: 14px;
    line-height: 20px;
}

.p_u70{
	padding-top:70px;
}

.project{
	overflow: hidden;
}
.gallery1{
	width: 469px;
	float: left;
	margin-right: 1px;
	height: 350px;
	background-image: url("../images/Layer 35.png");
}

.gallery2{
	width: 480px;
	float: left;
	margin-right: 1px;
	height: 350px;
	background-image: url("../images/Layer 36.png");
}

.gallery3{
	width: 480px;
	float: left;
	margin-right: 1px;
	height: 350px;
	background-image: url("../images/Layer 37.png");
}

.gallery4{
	width: 468px;
	float: left;
	margin: 0;
	height: 350px;
	background-image: url("../images/Layer 38.png");
}

.gallery5{
	width: 469px;
	float: left;
	margin-right: 1px;
	margin-top: 1px;
	height: 350px;
	background-image: url("../images/Layer 39.png");
}

.gallery6{
	width: 480px;
	float: left;
	margin-right: 1px;
	margin-top: 1px;
	height: 350px;
	background-image: url("../images/Layer 40.png");
}

.gallery7{
	width: 480px;
	float: left;
	margin-right: 1px;
	margin-top: 1px;
	height: 350px;
	background-image: url("../images/Layer 41.png");
}

.gallery8{
	width: 468px;
	float: left;
	margin: 0;
	margin-top: 1px;
	height: 350px;
	background-image: url("../images/Layer 42.png");
}

/*
.gallery:hover{
	background: #e84545;
	opacity: 50%;
}
*/

.gallery{
	position: relative;
    max-width: 24.9%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
 background: #e84545;
}


.text {
  color: white;
  font-size: 14px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
	line-height: 1.5;
}

.gallery:hover .overlay {
  opacity: 0.9;
}

.profil{
	background-color: #ffffff;
	padding: 101px 0;
	overflow: hidden;
}

.profilbox{
	width: 23%;
	margin-right: 2.56%;
	float: left;
}

.profilbox img {
    width: 100%;
    height: 100%;
}

.profilbox h4{
	margin-top: 24px;
    margin-bottom: 5px;
    color: #2d3033;
    font-size: 22px;
    font-family: "Myriad Pro", sans-serif;
}

.red{
    color: #e84545;
    font-size: 13px;
    margin-bottom: 23px;
    font-weight: 400;
    font-family: inherit;
    text-transform: uppercase;
}

.paragraf{
	color: #6c7279;
    font-size: 14px;
    margin-bottom: 25px;
    font-family: "Myriad Pro", sans-serif;
    line-height: 21px;
}

.facebook{
	width: 40px;
	height: 40px;
	border: 1px solid #e8ecee;
	background-image: url("../images/Shape 6.png");
	background-position: center;
	background-repeat: no-repeat;
	float: left;
	margin-right: 4px;
}

.instagram{
	width: 40px;
	height: 40px;
	border: 1px solid #e8ecee;
	background-image: url("../images/Shape 11.png");
	background-position: center;
	background-repeat: no-repeat;
	float: left;
}

.twitter{
	width: 40px;
	height: 40px;
	border: 1px solid #e8ecee;
	background-image: url("../images/Shape 3.png");
	background-position: center;
	background-repeat: no-repeat;
	float: left;
	margin-right: 4px;
}

.mr0{
	margin-right: 0px;
}

.slideshow-container{
	position: relative;
	background: #53354a;
	height: 500px;
}

.mySlides img{
	width: 50%;
	float: left;
}

.quote{
	width: 50%;
    float: right;
    padding: 8.33%;
	padding-bottom: 5%;
}

.quote p{
    float: right;
    color: #ffffff;
    font-size: 36px;
    width: 100%;
    font-family: 'Cardo', serif;
    line-height: 42px;
	height: 38.4%;
}

.name{
    color: #ffffff;
    font-size: 13px;
    text-transform: uppercase;
	font-weight: bold;
}

.slideshow-container{
	position: relative;
	overflow: hidden;
}

.mySlides {
  display: none;
}


/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #888;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}


/* Position the "next button" to the right */
.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: white;
}

/* The dot/bullet/indicator container */
.dot-container {
    text-align: center;
    padding: 20px;
    margin-top: 7.6%;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 12px;
    width: 12px;
    margin: 0 2px;
    background-color: #755d6e;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active, .dot:hover {
  background-color: #ffffff;
}

.download{
	overflow: hidden;
	height: 340px;
	padding: 96px 10.43%;
	text-align: center;
}

.download h1{
    font-size: 28px;
    color: #2d3033;
    margin-bottom: 11px;
}

.download p{
    font-size: 13px;
    color: #2d3033;
    font-weight: 1000;
    text-transform: uppercase;
}

.footer{
    background-color: #3a3e64;
    overflow: hidden;
    height: 250px;
    padding: 68px 0 110px;
}

.footerbox{
	text-align: center;
	float: left;
	width: 33%;
}

.footerbox h4{
	font-size: 14px;
    color: #ffffff;
    font-weight: bold;
    margin-bottom: 14px;
    text-transform: uppercase;
}

.footerbox p{
	font-size: 14px;
    color: #ffffff;
    line-height: 22px;
    opacity: 0.5;
}

.share{
    padding-left: 10px;
}
.facebook2{
    width: 40px;
    height: 40px;
    border: 2px solid #ffffff;
    background-image: url("../images/Shape 6.png");
    background-position: center;
    background-repeat: no-repeat;
    float: left;
    margin-right: 8px;
}

.instagram2{
	width: 40px;
    height: 40px;
    border: 2px solid #ffffff;
    background-image: url("../images/Shape 11.png");
    background-position: center;
    background-repeat: no-repeat;
    float: left;
}

.twitter2{
    width: 40px;
    height: 40px;
    border: 2px solid #ffffff;
    background-image: url("../images/Shape 3.png");
    background-position: center;
    background-repeat: no-repeat;
    float: left;
    margin-right: 7px;
}

.sosmed{	
    display: inline-block;
    margin-top: 5px;
    margin-left: 11px;
}

.about{
/*    padding-left: 18px;*/
}

.about2{
/*
    padding-left: 31px;
    width: 373px;
*/
}
.footerbottom{
	height: 94px;
	overflow: hidden;
	text-align: center;
	background-color: #313454;
	color: #808080;
    padding: 25px;
	font-size: 14px;
}
.footerbottom h4{
    line-height: 21px;
}

.reds{
    color: #e84545;
    font-size: medium;
}
.white{
	color:#ffffff;
}

.sponly{
	display: none;
}

.pconly{
	display: inline-block;
}

.navmodal{
	display: none;
}

@media only screen and (max-width: 1312px) {
	.nav{
		display: none;
	}
	
	.navsp{
		display: inline-block;
		float: right;
		margin-top: -10px;
	}
		.navmodal{    
	position: fixed;
    top: 100px;
    right: 0;
    height: 32%;
    padding: 32px;
    background-color: black;
    opacity: 0.9;
    border-radius: 3px;
width: 35%;

text-align: center;

max-width: 380px;
	}
	.navmodal ul {
    position: fixed;
    right: 12%;
	}
	
	.navmodal ul li {
    width: 100%;
    height: 50px;
	}
	
	.navmodal ul li a{
		font-size: 13px;
		color: #ffffff;
		text-transform: uppercase;
		text-decoration: none;
	}
	
	.navmodal ul li a:hover{
		font-weight: bold;
	}
	

	.mvcontent h1 {
    font-size: 55px;
	}
	
	.x {
    position: absolute;
    right: 5px;
    top: 5px;
    text-decoration: none;
    color: white;
    font-size: 18px;
	}
}
@media only screen and (max-width: 1118px) {
	.mvcontent{
		padding-top: 9.23%;
	}
	
	.mvcontent a{margin-top: 4.94%;
	border-radius: 2px;
	margin-bottom: 6.75%;
	}
}